<%- include("templates/header") %>

            <!-- Main Content -->
            <div id="content">

                <div class="card top-selling overflow-auto">


                    <div class="card-body pb-0 text-center">
                      <h5 class="card-title">Bienvenido al sistema del gym</h5>
                      
                      <div class="container m-4 row">
                        <div class="col-3 m-3 card">
                          <div class="card-header">
                            Ingresos
                          </div>
                          <div class="card-body">
                            <h5 class="card-title">Consulta todos los ingresos</h5>
                            <p class="card-text">Puedes gestionar los ingresos existentes</p>
                            <a class="nav-link collapsed btn btn-primary text-light" href="ingresos">
                              Ir ahora</a>
                          </div>
                        </div>
                        <div class="col-3 m-3 card">
                          <div class="card-header">
                            Usuario
                          </div>
                          <div class="card-body">
                            <h5 class="card-title">Gestión de usuarios</h5>
                            <p class="card-text">Puedes crear nuevos usuarios y consultar los existentes</p>
                            <a class="nav-link collapsed btn btn-primary text-light" href="usuarios">
                              Ir ahora</a>
                          </div>
                        </div>
                        <div class="col-3 m-3 card">
                          <div class="card-header">
                            Categorias
                          </div>
                          <div class="card-body">
                            <h5 class="card-title">Consulta todos las categorias</h5>
                            <p class="card-text">Puedes crear nuevos categorias existentes</p>
                            <a class="nav-link collapsed btn btn-primary text-light" href="categorias">
                              Ir ahora</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

            </div>
            <!-- End of Main Content -->

           

   
<%- include("templates/footer") %>


