<!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="./">
            <div class="sidebar-brand-icon">
                <img src="../../assets/img/portfolio/logo.png" height="50px" alt="logo">
            </div>
            <div class="sidebar-brand-text mx-3">GymApp</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/dashboard/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Principal</span></a>
        </li>

        <!-- Heading -->
        <div class="sidebar-heading">
            Gestión
        </div>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="/dashboard/ingresos">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Ingresos</span></a>
        </li>
        
        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="/dashboard/membresias">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Membresías</span></a>
        </li>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" href="/dashboard/rutinas">
                <i class="fas fa-fw fa-table"></i>
                <span>Rutinas</span></a>
        </li>
        
        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" href="/dashboard/usuarios">
                <i class="fas fa-fw fa-table"></i>
                <span>Usuarios</span></a>
        </li>


    </ul>
<!-- End of Sidebar -->