<!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">GymApp</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Principal</span></a>
        </li>

        <!-- Heading -->
        <div class="sidebar-heading">
            Gestión
        </div>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="ingresos">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Ingresos</span></a>
        </li>
        
        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="menbresias">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Membresías</span></a>
        </li>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" href="categorias">
                <i class="fas fa-fw fa-table"></i>
                <span>Categorias</span></a>
        </li>
        
        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" href="usuarios">
                <i class="fas fa-fw fa-table"></i>
                <span>Usuarios</span></a>
        </li>


    </ul>
<!-- End of Sidebar -->