<%- include("../templates/header") %>

    <!-- Main Content -->
    <div id="content">
        <h5 class="card-title">Gestión ingresos</h5>

    </div>
    <!-- End of Main Content -->

           

   
<%- include("../templates/footer") %>


